<h1>Home</h1>
<p>Welcome to Quantify Nutrition! The most accurate calculator for energy requirements on the web. 

Quantify Nutrition is coded and run by a registered dietitian and as such you can be guaranteed that every aspect of this free service is steeped in evidence-based science. 

Knowledge is power, understand your body to better conquer it</p>

